
@{
    ViewBag.Title = "Algorithm";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>Algorithm</h2>

@using (Html.BeginForm("GenerateReport", "Home", FormMethod.Post)) 
{
    <input type="submit" value="Generate Algorithgm" /> 
}


